// Fonts
$font-brand: 'Skranji', cursive;
$font-clock: 'Codystar', cursive;
$font-primary: 'Nunito',Arial, sans-serif;
$font-secundary: 'Dosis', sans-serif;
$font-third: 'Asap', sans-serif;

// Principal
$white: #f5f5f5;
$white-secondary:#f1f8fd;
$black: #232931;
$darken: #444444;
$darken-secondary:#415865;

$primary: #75C8D1;
$secondary: #6193C0;

//
$color-title: #073642;
$color-sub-title: #586e75;
$color-title-text:#11819e;
$color-text: #40514e;
$color-comments: #7a9eb1;

//
$color-primary: #65c6c4;
$color-primary-border:#75C8D1;

// success
$color-success: #7ed3b2;
$color-success-border:#b9e6d3;
// error
$color-error: #c70039;
$color-error-border:#900c27;
// info 
$color-info: #f6c667;
$color-info-border: #ffc107;
//--
// $color-info-:#f3a871;
// $color-info-border-:#f07810;

// alert
$color-alert: #30e3ca;
$color-alert-border: #a1e3d8;

// social media
$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;
$brand-google: #a4c639;
$brand-apple: #A3AAAE;
