extends ../layouts/master.pug

block title
  title My Page - Contact

block basicSeo
  meta(name='description' content='About page')
  meta(name='keywords', content='about, page')
  meta(name='author' content='')

block content

  //- Desktop page