extends ../layouts/master.pug

block title
  title My Page - Blog

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block content


