//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

blog
  section.ftco-section.ftco-degree-bg
  .container
    .row
      .col-lg-8.ftco-animate
        .row
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              a.block-20(href='blog-single.html' style="background-image: url('../../assets/images/image_1.jpg');")
              .text.d-block.pl-md-4
                .meta.mb-3
                  div
                    a(href='#') 05 Junio, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
                p
                  | El 5 de junio se celebra el Día Mundial del Medioambiente, que busca promover la conciencia de todas las personas...
                p
                  a.btn.btn-primary.py-2.px-3(href='blog-single.html') ¡Te lo contamos!
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              a.block-20(href='blog-single.html' style="background-image: url('../../assets/images/image_2.jpg');")
              .text.d-block.pl-md-4
                .meta.mb-3
                  div
                    a(href='#') 05 Junio, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
                p
                  | El 5 de junio se celebra el Día Mundial del Medioambiente, que busca promover la conciencia de todas las personas...
                p
                  a.btn.btn-primary.py-2.px-3(href='blog-single.html') ¡Te lo contamos!
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              a.block-20(href='blog-single.html' style="background-image: url('../../assets/images/image_3.jpg');")
              .text.d-block.pl-md-4
                .meta.mb-3
                  div
                    a(href='#') 05 Junio, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
                p
                  | El 5 de junio se celebra el Día Mundial del Medioambiente, que busca promover la conciencia de todas las personas...
                p
                  a.btn.btn-primary.py-2.px-3(href='blog-single.html') ¡Te lo contamos!
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              a.block-20(href='blog-single.html' style="background-image: url('../../assets/images/image_4.jpg');")
              .text.d-block.pl-md-4
                .meta.mb-3
                  div
                    a(href='#') 05 Junio, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
                p
                  | El 5 de junio se celebra el Día Mundial del Medioambiente, que busca promover la conciencia de todas las personas...
                p
                  a.btn.btn-primary.py-2.px-3(href='blog-single.html') ¡Te lo contamos!
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              a.block-20(href='blog-single.html' style="background-image: url('../../assets/images/image_5.jpg');")
              .text.d-block.pl-md-4
                .meta.mb-3
                  div
                    a(href='#') 05 Junio, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
                p
                  | El 5 de junio se celebra el Día Mundial del Medioambiente, que busca promover la conciencia de todas las personas...
                p
                  a.btn.btn-primary.py-2.px-3(href='blog-single.html') ¡Te lo contamos!
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              a.block-20(href='blog-single.html' style="background-image: url('../../assets/images/image_6.jpg');")
              .text.d-block.pl-md-4
                .meta.mb-3
                  div
                    a(href='#') 05 Junio, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
                p
                  | El 5 de junio se celebra el Día Mundial del Medioambiente, que busca promover la conciencia de todas las personas...
                p
                  a.btn.btn-primary.py-2.px-3(href='blog-single.html') ¡Te lo contamos!
        .row.mt-5
          .col
            .block-27.text-center
              ul
                li
                  a(href='#') &lt;
                li.active
                  span 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#') &gt;
      // .col-md-8
      .col-lg-4.sidebar.ftco-animate
        .sidebar-box
          form.search-form(action='#')
            .form-group
              span.icon.ion-ios-search
              input.form-control(type='text' placeholder='Escribe una palabra')
        .sidebar-box.ftco-animate
          h3.heading-2 Categorias
          ul.categories
            li
              a(href='#')
                | Donaciones
                span (12)
            li
              a(href='#')
                | Organizaciones
                span (22)
            li
              a(href='#')
                | Ayudas
                span (37)
            li
              a(href='#')
                | Voluntarios
                span (42)
            li
              a(href='#')
                | Sin ánimo de lucro
                span (14)
            li
              a(href='#')
                | Abusos
                span (140)
        .sidebar-box.ftco-animate
          h3.heading-2 Recientes
          .block-21.mb-4.d-flex
            a.blog-img.mr-4(style='background-image: url(../../assets/images/image_1.jpg);')
            .text
              h3.heading-1
                a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
              .meta
                div
                  a(href='#')
                    span.icon-calendar
                    |  April 09, 2019
                div
                  a(href='#')
                    span.icon-person
                    |  Admin
                div
                  a(href='#')
                    span.icon-chat
                    |  19
          .block-21.mb-4.d-flex
            a.blog-img.mr-4(style='background-image: url(../../assets/images/image_2.jpg);')
            .text
              h3.heading-1
                a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
              .meta
                div
                  a(href='#')
                    span.icon-calendar
                    |  05 Junio, 2019
                div
                  a(href='#')
                    span.icon-person
                    |  Admin
                div
                  a(href='#')
                    span.icon-chat
                    |  19
          .block-21.mb-4.d-flex
            a.blog-img.mr-4(style='background-image: url(../../assets/images/image_3.jpg);')
            .text
              h3.heading-1
                a(href='#') Día Mundial del Medioambiente, ¿y tú qué puedes hacer?
              .meta
                div
                  a(href='#')
                    span.icon-calendar
                    |  05 Junio, 2019
                div
                  a(href='#')
                    span.icon-person
                    |  Admin
                div
                  a(href='#')
                    span.icon-chat
                    |  19
        .sidebar-box.ftco-animate
          h3.heading-2 Etiquetas
          .tagcloud
            a.tag-cloud-link(href='#') Donar
            a.tag-cloud-link(href='#') Caridad
            a.tag-cloud-link(href='#') Organización
            a.tag-cloud-link(href='#') Niño
            a.tag-cloud-link(href='#') Abuso
            a.tag-cloud-link(href='#') Ayuda
            a.tag-cloud-link(href='#') voluntario
            a.tag-cloud-link(href='#') Protección de animales
            a.tag-cloud-link(href='#') Minorías étnicas
            a.tag-cloud-link(href='#') Cultura y arte social
            a.tag-cloud-link(href='#') refugio y asilo
            a.tag-cloud-link(href='#') Derechos Humanos
            a.tag-cloud-link(href='#') Asesoramiento
            a.tag-cloud-link(href='#') Personas sin hogar 
            a.tag-cloud-link(href='#') Ayuda Humanitaria     
        .sidebar-box.ftco-animate
          h3.heading-2 Párrafo
          p
            | Impulsamos la dignidad y la solidaridad para la construcción de un mundo justo. Hazte con nuestra app y lucha contra la pobreza y la desigualdad.