//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

causesList
  section.ftco-section
  .container
    .row
      .col-md-4
        .causes.causes-2.text-center.pb-4.px-md-4
          .img(style='background-image: url(images/causes-1.jpg);')
          h2 Adoption, Fostering &amp; Children Care
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .col-md-4
        .causes.causes-2.text-center.pb-4.px-md-4
          .img(style='background-image: url(images/causes-2.jpg);')
          h2 Disadvantages Young People
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .col-md-4
        .causes.causes-2.text-center.pb-4.px-md-4
          .img(style='background-image: url(images/causes-3.jpg);')
          h2 Meditation &amp; Crisis Services
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .col-md-4
        .causes.causes-2.text-center.pb-4.px-md-4
          .img(style='background-image: url(images/causes-4.jpg);')
          h2 Providing Children Care and Education
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .col-md-4
        .causes.causes-2.text-center.pb-4.px-md-4
          .img(style='background-image: url(images/causes-5.jpg);')
          h2 Safeguarding &amp; Consultancy Services
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .col-md-4
        .causes.causes-2.text-center.pb-4.px-md-4
          .img(style='background-image: url(images/causes-6.jpg);')
          h2 Save The Earth Programs
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    .row.mt-5
      .col.text-center
        .block-27
          ul
            li
              a(href='#') &lt;
            li.active
              span 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') &gt;