//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

counterAbout
  section.ftco-counter.img.ftco-section.ftco-no-pt.ftco-no-pb
  .container
    .row.d-flex
      .col-md-6.col-lg-5.d-flex
        .img.d-flex.align-self-stretch.align-items-center(style='background-image:url(images/about-1.jpg);')
      .col-md-6.col-lg-7.pl-lg-5.py-5
        .py-md-5
          .row.justify-content-start.pb-3
            .col-md-12.heading-section.ftco-animate
              span.subheading Unas palabras sobre nosotros
              h2.mb-4
                | Ayudamos junto con más de 
                span.number(data-number='50')
                |  organizaciones
              p
                | Promovemos la solidaridad de las personas en un mundo global para impulsar que la infancia, sus familias y poblaciones que sufren pobreza, exclusión y desigualdad, desarrollen sus capacidades para conseguir sus aspiraciones de vida digna, de modo sostenible.
              p
                | Aspiramos a un mundo sin pobreza, exclusión y desigualdad. Un mundo donde las personas se ayuden unas a otras y puedan desarrollar sus capacidades, disfruten plenamente de los derechos humanos que les corresponden y participen a través de cauces democráticos en las decisiones que afectan a sus vidas para ser así los protagonistas de su propio desarrollo.
              //- p
              //-   | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.

