//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

services
  section.services-section.py-5.py-md-0.bg-light
  .container
    .row.no-gutters.d-flex
      .col-md-6.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-charity
          .media-body
            h3.heading.mb-3 Play Store
            p Coordinan, orientan y promueven la acción caritativa y social.
      .col-md-6.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-adoption
          .media-body
            h3.heading.mb-3 App Store
            p Coordinan, orientan y promueven la acción caritativa y social.