//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

missionAbout
  section.ftco-mission
  .container
    .row
      .col-md-4.py-4.py-md-5.ftco-animate
        .py-md-4.pb-md-5
          h3 Misión: Compromiso con los derechos humanos y la dignidad de las personas
          p
            | Pretendemos que todas las personas puedan ejercer sus derechos y estén capacitadas para disfrutar de una vida digna.
      .col-md-4.py-4.py-md-5.ftco-animate
        .py-md-4.pb-md-5
          h3 Visión
          p
            | Trabajamos desde la cooperación y corresponsabilidad de las personas ante los intereses comunes, el voluntariado al lado de los demás y de sus organizaciones, a través de redes y alianzas comprometidas con nuestra visión del mundo.
      .col-md-4.py-4.py-md-5.img(style='background-image: url(images/bg_1.jpg)')
