//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

testimony
  section.testimony-section
  .container
    .row.ftco-animate.justify-content-center
      .col-md-6.d-flex
        .testimony-img(style='background-image: url(images/testimony-img.png);')
      .col-md-6.py-5
        .heading-section.heading-section-white.pt-4.ftco-animate
          h2.mb-0 Historias
        .carousel-testimony.owl-carousel.ftco-owl
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Unimos nuestra voces para clamar por un trabajo que respeta los derechos y dignifica a las personas.
              .d-flex
                .user-img(style='background-image: url(images/person_1.jpg)')
                .pos.ml-3
                  p.name Alonso ibarra
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Todos tenemos la oportunidad de ser solidarios en nuestra declaración de la renta.
              .d-flex
                .user-img(style='background-image: url(images/person_1.jpg)')
                .pos.ml-3
                  p.name Amaya Salvador
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Cuando proteges el medio ambiente defiendes los derechos de las personas excluidas.
              .d-flex
                .user-img(style='background-image: url(images/person_1.jpg)')
                .pos.ml-3
                  p.name Antonio Palomeque
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Millones de personas cambian sus vidas gracias a su propio empuje y a tu apoyo.
              .d-flex
                .user-img(style='background-image: url(images/person_1.jpg)')
                .pos.ml-3
                  p.name Arias Rodríguez
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Creemos en un mundo donde todas las personas puedan disfrutar de sus derechos y tener oportunidades.
              .d-flex
                .user-img(style='background-image: url(images/person_1.jpg)')
                .pos.ml-3
                  p.name Arnaud Viñas
                  span.position Businessman