//- src/views/components/footer.pug

//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'
footer
  footer.ftco-footer.ftco-section
    .container
      .row.mb-5
        .col-md
          .ftco-footer-widget.mb-4
            h2.ftco-heading-2.ftco-heading-2-brand
              | Wecker
              span .
            p
              | Somos una organización  que lleva a cabo su misión, respetar la libertad e igualdad de los niños/as fuera y dentro de nuestra fronteras. 
            ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
              li.ftco-animate
                a(href='#')
                  span.icon-twitter
              li.ftco-animate
                a(href='#')
                  span.icon-facebook
              li.ftco-animate
                a(href='#')
                  span.icon-instagram
        .col-md
          .ftco-footer-widget.mb-4.ml-md-5
            h2.ftco-heading-2 Información
            ul.list-unstyled
              li
                a.py-2.d-block(href='#') Términos y Condiciones
              li
                a.py-2.d-block(href='#') Política de privacidad
              li
                a.py-2.d-block(href='#') Términos de Uso
              li
                a.py-2.d-block(href='#') Donaciones

        .col-md
          .ftco-footer-widget.mb-4
            h2.ftco-heading-2 Enlaces
            ul.list-unstyled
              li
                a.py-2.d-block(href='#') Inicio
              li
                a.py-2.d-block(href='#') Quienes somos
              li
                a.py-2.d-block(href='#') Organizaciones
              li
                a.py-2.d-block(href='#') Blog
              li
                a.py-2.d-block(href='#') Contacto

        .col-md
          .ftco-footer-widget.mb-4
            h2.ftco-heading-2 Colaboradores
            ul.list-unstyled
              li
                a.py-2.d-block(href='#') Centros Educativos
              li
                a.py-2.d-block(href='#') Voluntarios
              li
                a.py-2.d-block(href='#') Empresas
              li
                a.py-2.d-block(href='#') Socios
        //- .col-md
        //-   .ftco-footer-widget.mb-4
        //-     h2.ftco-heading-2 Colaboradores
        //-     .block-23.mb-3
        //-       ul
        //-         li
        //-           span.icon.icon-map-marker
        //-           span.text Dime. Tu calle 13, 666 Barcelona
        //-         li
        //-           a(href='#')
        //-             span.icon.icon-phone
        //-             span.text +34 992 3929 210
        //-         li
        //-           a(href='#')
        //-             span.icon.icon-envelope
        //-             span.text info@yourdomain.com
      .row
        .col-md-12.text-center
          p
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  Todos los derechos reservados |
            i.icon-heart.color-danger(aria-hidden='true')
            |
            a(href='#' target='_blank') Wecker
            //- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
